<p id="notice"><%= notice %></p>

<center>
<!-- Simple Select -->
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fullwidth">
  <input class="mdl-textfield__input" type="text" id="sample1" value="Seleccione contribuyente..." readonly tabIndex="-1">
  <label for="sample1" class="mdl-textfield__label">Contribuyente</label>
  <ul for="sample1" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
    <% User.all.each do |users| %>
        <li class="mdl-menu__item">
          <%= link_to users.rut, :controller => :transferrals, :action => :show, :id => users.id %>
        </li>
    <%end %>
  </ul>
</div>
</center>

